@import 'compass';
@import 'components/ceaser-easing'; /* http://easings.net */

@import 'components/normalize';
@import 'components/var';
@import 'components/helper';
@import 'components/grid';

$general-layout:smart;
@import "general/*.png";

@import 'components/ui-effects';
@import 'components/print';
@import 'components/layout';
@import 'components/header';
@import 'components/footer';


/* ==========================================================================
   SLIDESHOW CONTENT
   ========================================================================== */

.slideshow{
    position: relative;
    overflow: hidden; // remove scroll bar while loading bxslider
    @include respond-to(mobiles) { height: 300px; }
    @include respond-to(tablet) { height: 500px; }
    @include respond-to(desktop) { height: 620px; }
    width: 100%;
    color: $colorw;
    background-color: #000;

    .slide{ 
        position:relative;
        height: 100%; 
        text-align: center;

        @include ghost_vertical_align;
    }

    .slide-img{
        position: absolute;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-position: center;
        background-repeat: none;
        @include background-size(cover);
        
        .lt-ie9 &{ background-size: 100%; }

        &:after{
            position: absolute;
            display: block;
            content: " ";
            right: 0;
            top: 0;
            @include image('filigrane.png');
            height: 100%;
            background-position: center right;
            @include background-size(contain);
        }
    }

    .slide-content{ 
        position: relative; 
        display: inline-block;
        max-width: 99%; // fix safari mobile
        top: -20px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        

        @include respond-to(minimobile) { padding: 0 10px; }
        @include respond-to(mobile-desktop) { padding: 0 70px; }
    }

    .shadow{
        @include text-shadow(#000 1px 1px 4px, #000 2px 2px 4px, #000 3px 3px 4px);
        .slide-img{ @include opacity(0.6); }
    }

    h1{
        color: #fff;
        margin: 0 0 10px 0;

        @include respond-to(minimobile) { font-size: 30px; }
        @include respond-to(mobile) { font-size: 40px; }
        @include respond-to(tablet) { font-size: 60px; }
        @include respond-to(desktop) { font-size: 80px; }
    }

    h2{
        color: #fff;
        margin: 5px 0;

        @include respond-to(minimobile) { font-size: 15px; }
        @include respond-to(mobile-tablet) { font-size: 20px; }
        @include respond-to(desktop) { font-size: 30px; }
    }

    p{
        margin: 0;
        color: #fff;
        
        @include respond-to(minimobile) { font-size: 15px; }
        @include respond-to(mobile-tablet) { font-size: 20px; }
        @include respond-to(desktop) { font-size: 30px; }
    }

    a{
        font-size: 30px;
        text-decoration: none;
        &:hover{ text-decoration: underline; }

        &.button{
            display: inline-block;
            color: #382b0e;
            text-transform: uppercase;
            border: 4px solid darken($color1, 30%);
            background-color: $color1;
            @include background-image(linear-gradient(bottom, $color1 0%, lighten($color1, 30%) 100%));
            @include text-shadow(#fff 0px 0px 4px);
            @include border-radius(10px);
            @extend .font-bold;

            @include respond-to(minimobile) { 
                margin-top: 10px;
                padding: 7px 10px;
                font-size: 14px;
                border: 2px solid rgba(#000, 0.5);
                @include border-radius(5px);
            }
            @include respond-to(mobile) { 
                margin-top: 15px;
                padding: 10px 15px;
                font-size: 16px;
            }
            @include respond-to(tablet) { 
                margin-top: 20px;
                padding: 15px 20px;
                font-size: 19px;
            }
            @include respond-to(desktop) { 
                margin-top: 20px;
                padding: 20px 27px;
                font-size: 26.68px;
            }

            &:hover{ 
                text-decoration: none;
                background-color: darken($color1, 20%);
                @include background-image(linear-gradient(bottom, darken($color1, 20%) 0%, $color1 100%));
            }
        }
    }
}


/* ==========================================================================
   SLIDESHOW PLUGIN
   ========================================================================== */

.bx-wrapper{
    position: relative;
}

.bx-controls{
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    overflow: visible;

    .bx-controls-direction{ 
        position: absolute;
        width: 100%;
        height: 0;
        @include respond-to(minimobile) { display: none; }
    }

    a.bx-prev, a.bx-next{
        position: absolute;
        display: block;
        height: 60px;
        width: 60px;
        overflow: visible;
        background-color: $color1;
        @extend .hide-text;
        @extend %transition-opacity;
        @extend %opacity-show;

        @include respond-to(desktop) { top: 280px; }
        @include respond-to(tablet) { top: 220px; }
        @include respond-to(mobile) { top: 120px; }

        &:hover, &.active{ @include opacity(0.8); }
    }

    a.bx-prev{ left: 0; }
    a.bx-next{ right: 0; }

    .csstransforms &{
        a.bx-prev{ @include arrow(left, #000, 22px, 8px, 17px, 21px); }
        a.bx-next{ @include arrow(right, #000, 22px, 8px, 17px, 21px); }
    }

    .no-csstransforms &{
        a.bx-prev:after{
            left: 17px;
            top: 12px;
            @include triangle(left, #000, 18px);
        }
        a.bx-next:after{ 
            right: 17px;
            top: 12px;
            @include triangle(right, #000, 18px);
        }
    }

    .bx-pager{
        height: 0;
        overflow: visible;
        position: absolute;
        text-align: right;
        width: 100%;

        @include respond-to(mobiles) { 
            top: 246px; 
            right: 20px;
        }
        @include respond-to(tablet) { 
            top: 446px; 
            right: 20px;
        }
        @include respond-to(desktop) {
            top: 566px; 
            right: 20px;
        }
    }

    .bx-pager-item{
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;

        & + .bx-pager-item{
            margin-left: 5px;
        }
    }

    a.bx-pager-link{
        @extend .hide-text;
        display: block;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 1px solid $color1;
        @extend %border-radius-normal;
        @extend %transition-bg;
        
        &:hover{ background-color: rgba($color1, 0.5); }
        &.active{ background-color: $color1; }
    }
}

// need loading?
/*.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}*/


/* ==========================================================================
   CONTENT
   ========================================================================== */

.main{
    position: relative;
    margin-bottom: 20px;

    .grid-parent{ clear: both; }

    img.img, .img{
        position: relative;
        max-width: 100%;
        margin-top: 20px;
        border: 0;
        @extend %border-radius-big;

        &.pull-left{ margin-right: 20px; }
        &.pull-right{ margin-left: 20px; }
    }
    h1 + .img{ margin-top: 0; }

    h1{ 
        margin: 40px 0 20px 0;
        &:first-child{ margin: 20px 0; }
    }

    .pull-left + h1{ margin: 20px 0; }

    h2{ margin: 20px 0 10px 0; }

    p{ 
        line-height: 1.6em;
        text-align: justify;
        margin: 10px 0;
    }

    .fluid-width-video-wrapper{ margin-top: 20px; } // youtube iframe div


    //arrows for events
    
    /*.grid-container > div{ position: relative; } // allow positionning arrows event

    .arrow-down, .arrow-up{
        position: absolute;
        top: 0;
        width: 40px;
        height: 40px;
        background-color: $color1;
        cursor: pointer;
        @include opacity(1);
        @include transition(opacity 0.2s linear);

        &:hover{ @include opacity(0.5); }
    }

    .arrow-down{
        right: 40px + $gutter-half;
        @include arrow(bottom, #000, 15px, 5px, 16px, 17px);
    }

    .arrow-up{
        right: $gutter-half;
        @include arrow(top, #000, 15px, 5px, 16px, 19px);
    }*/
}

.hr-line{
    clear: both;

    hr{
        position: relative;
        max-width: 100%;
        border: 0;
        @include image('ideogrammes.png');
        @include background-size(contain);
        background-position: center;

        @include respond-to(minimobile) { margin: 65px auto 45px auto; }
        @include respond-to(mobile) { margin: 80px auto 60px auto; }
        @include respond-to(tablet-desktop) { margin: 100px auto 80px auto; }
    }
}

/*div.hr-line + div > *:first-child{
    margin-top: 0;
}*/


/* ==========================================================================
   EVENT BOX
   ========================================================================== */

.events{
    position: relative;
    width: 100%;
    color: $colorb;
    background-color: $color1;
    font-size: 16.02px;

    ul{
        position: relative;
        margin: 0;
        padding: 0 ;
        line-height: normal;
    }

    li{
        position: relative;
        width: 100%;
        padding: 20px;
        margin-top: 0;
        list-style: none;
        background-color: $color1;
        border-top: 1px solid darken($color1, 13%);
        cursor: pointer;
        @extend %transition-bg;
        
        &:hover{ background-color: lighten($color1, 8%); }
        &:first-child{ border: 0; }
        &.empty{ cursor: default; }
        &.empty:hover{ background-color: $color1; }
        &.on .content, .no-js & .content{ display: block; }
    }

    .date{
        padding: 7px 15px;
        background-color: #fff;
        font-size: 13.01px;
        text-align: center;
        @extend %border-radius-normal;

        @include respond-to(minimobile) { 
            position: relative;
            display: block;
            width: 110px;
            margin: 0 auto 10px auto;
        }

        @include respond-to(mobile-desktop) {
            position: absolute;
            top: 14px;
            right: 20px;
        }
    }

    .title{
        @include respond-to(mobile-desktop) { padding-right: 110px; }
    }

    .content{
        position: relative;
        display: none;
        width: 100%;
        margin-top: 20px;
        font-size: 14px;
        line-height: 1.4em;
    }
}
