/* ==========================================================================
   FOOTER
   ========================================================================== */
   
.footer{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 50;
}

.contact{
    position: relative;
    width: 100%;
    background-color: $color1;
    text-align: center;
    z-index: 80;
    
    p{margin: 0;}

    input[type="submit"]{ 
        display: inline-block;
        margin-bottom: 40px;
        padding: 10px 15px;
        width: auto;
    }

    .headline{
        margin: 40px 0;

        .logo-aksvb-b{ margin: 0 -90px 0 0; }
        .title{
            @include respond-to(minimobile) { margin-top: 6px; }
            @include respond-to(mobile) { margin-top: 16px; }
            @include respond-to(tablet) { margin-top: 11px; }
            @include respond-to(desktop) { margin-top: 11px; }
        }
    }
}

.maps{
    position: relative;
    height: 300px;
    width: 100%;
    
    .info {
        .aksvb-logo-min-r{
            float:left;
            margin:0 10px 20px 0;
        }
        p{ margin:0; }
    }

    .no-js &{ display: none; }
}

.informations{
    position: relative;
    width: 100%;
    padding-top: 50px;
    z-index: 70;
    @extend .clearfix;
    @include box-shadow(rgba(0,0,0,0.8) 0 6px 5px -3px);

    @include respond-to(mobiles) {
        text-align: center;
        p{ 
            margin: 0;

            &:last-child{ margin: 3px 0 40px 0; }
        }
    }

    p{ 
        margin: 0;

        @include respond-to(mobiles) {
            &:last-child{ margin: 3px 0 40px 0; }
        }
    } 

    img{
        position: relative;

        @include respond-to(mobiles) {
            display: block;
            margin: -20px auto 8px;
        }
        
        @include respond-to(tablet-desktop) {
            float: left;
            margin: -20px 10px 8px 0;
        }
    }

    @include respond-to(tablet-desktop) { 
        .line{ margin-bottom: 40px; }
    }

    .ffwushu{
        text-transform: uppercase;
        font-size: 12.09px;

        @include respond-to(mobiles) {
            display: inline-block;
            max-width: 300px;
        }
    }
}

.proverbs{
    position: relative;
    width: 100%;
    padding: 40px;
    @extend .clearfix;

    @include respond-to(mobiles) { padding: 40px 20px; }

    .js &{ @include box-shadow(rgba(0,0,0,0.8) 0 -6px 5px -3px); }

    p.proverb{
        @extend .font-large;
        text-align: center;
        &:before{ content: '《 '; font-style: italic; }
        &:after{ content: ' 》'; font-style: italic; }
    }

    p.author{
        text-align: right;
        font-variant: small-caps;
        margin-bottom: 0;
    }
}

.credits{
    position: relative;
    height: 112px;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    @extend .clearfix;

    p{ margin: 35px 0 0 0; }

    .opla-logo{
        position: relative;
        display: inline-block;
        top: 4px;
        @include mysprite('opla-logo');
    }

    .top{
        position: absolute;
        display: inline-block;
        bottom: 0;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        left: 0;
        right: 0;
        @include triangle(top, $colorw, 43px);
        @include transition(all 0.5s ceaser($easeInOutBack));

        &:hover{
            border-width: 0 86px 86px 86px;

            p{ @include opacity(1); }
            .csstransforms &{
                span:before, span:after{ background-color: $color2; }
            }
            .no-csstransforms &{
                span{ @include triangle(top, $color2, 12px); }
            }
        }

        span{
            display: block;

            .no-js &, .no-csstransforms &{
                left: 50%;
                margin: 0 0 0 -12px;
                position: relative;
                top: 15px;
                @include triangle(top, #000, 12px);
            }            

            .csstransforms &{
                position: relative;

                &:before, &:after{
                    position: absolute;
                    content: " ";
                    display: block;
                    width: 12px;
                    height: 5px;
                    background-color: #000;
                    top: 15px;
                }

                &:before{
                    @include rotate(45deg);
                    right: -9px;
                }

                &:after{
                    @include rotate(-45deg);
                    left: -9px;
                }
            }
        }

        p{
            color: #000;
            margin: 50px 0 0 -87.5px;
            text-align: center;
            width: 175px;
            @include transition(opacity 0.5s linear);
            @include opacity(0);
        }
    }
}
