/* ================================================================== */
/* DIMENSIONS & UNSEMANTIC CONFIG */
/* ================================================================== */

// Dimensions
$header-top-height  : 100px; //desktop size
$menu-height        : 40px; //desktop size
$footer-height      : 412px;

$media-minimobile-min : 320px;
$media-minimobile-max : 669px;
$media-mobile-min     : 670px;
// Unsemantic config
$media-mobile-max     : 896px;
$media-tablet-min     : 897px;
$media-tablet-max     : 1199px;
$media-desktop-min    : 1200px;
$container-max-width  : 1200px;
$gutter-half          : 10px;

$unsemantic-ie7-support: false;

@import "unsemantic/unsemantic-vars";
@import "unsemantic/unsemantic-ie-snap";

@include unsemantic-grid-placeholders;
@include unsemantic-grid-base-tablet;

@media screen and (max-width: $media-minimobile-max) {
    @include unsemantic-grid-placeholders(minimobile);
    @include unsemantic-grid-scoped(minimobile);
}

@media screen and (min-width: $media-mobile-min) and (max-width: $media-mobile-max) {
    @include unsemantic-grid-placeholders(mobile);
    @include unsemantic-grid-scoped(mobile);
}

@media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) {
    @include unsemantic-grid-placeholders(tablet);
    @include unsemantic-grid-scoped(tablet);
}

@media screen and (min-width: $media-desktop-min) {
    @include unsemantic-grid-placeholders(desktop);
    @include unsemantic-grid-scoped(desktop);
}


/* ==========================================================================
   RESPONSIVE HELPER
   ========================================================================== */

/* Use like : @include respond-to(mobile) { width: 100% ;} */
@mixin respond-to($media) {
    @if $media == minimobile {
        @media only screen and (max-width: $media-minimobile-max) { @content; }
    }
    @else if $media == mobile {
        @media only screen and (min-width: $media-mobile-min) and (max-width: $media-mobile-max) { @content; }
    }
    @else if $media == mobiles {
        @media only screen and (max-width: $media-mobile-max) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) { @content; }
    }
    @else if $media == mobile-tablet {
        @media only screen and (min-width: $media-mobile-min) and (max-width: $media-tablet-max) { @content; }
    }
    @else if $media == mobility {
        @media only screen and (max-width: $media-tablet-max) { @content; }
    }
    @else if $media == desktop {
        @media only screen and (min-width: $media-desktop-min) { @content; }
    }
    @else if $media == tablet-desktop {
        @media only screen and (min-width: $media-tablet-min) { @content; }
    }
    @else if $media == mobile-desktop {
        @media only screen and (min-width: $media-mobile-min) { @content; }
    }
}

.show-only-minimobile, 
.show-only-mobile, 
.show-only-mobiles, 
.show-only-tablet, 
.show-only-desktop{
    display: none;
}

@include respond-to(minimobile) { 
    .show-only-minimobile{ display: block !important; }
    //.hide-on-minimobile{ display: none !important; }
}

@include respond-to(mobile) { 
    .show-only-mobile{ display: block !important; }
}

@include respond-to(mobiles) { 
    .show-only-mobiles{ display: block !important; }
    .hide-on-mobiles{ display: none !important; }
}

@include respond-to(mobility) { 
    .hide-on-mobility{ display: none !important; }
}

@include respond-to(tablet) { 
    .show-only-tablet{ display: block !important; }
}

@include respond-to(desktop) { 
    .show-only-desktop{ display: block !important; }
}