/* ==========================================================================
   Typo
   ========================================================================== */

/*
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/LeagueGothic-Regular-webfont.eot');
    src: url('../fonts/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueGothic-Regular-webfont.woff') format('woff'),
         url('../fonts/LeagueGothic-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// force to use svg in chrome to fix antialiasing
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    @font-face {
        font-family: 'LeagueGothicRegular';
        src: url('../fonts/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular') format('svg');
    }
}
*/


/* ==========================================================================
   VARIABLES & MIXINS
   ========================================================================== */

/* Typography */
$font-regular: 'Crimson Text', Helvetica, Arial, sans-serif;
$font-bold:    'Crimson Text', Helvetica, Arial, sans-serif;
$font-large:   'LeagueGothicRegular', Helvetica, Arial, sans-serif;

.font-regular{ font-family: $font-regular; }
.font-bold{ font-family: $font-bold; }
.font-large{ font-family: $font-large; }

/* color theme */
$colorw:#fff;    // WHITE
$colorb:#4d4d4f; // BLACK
$color1:#545454; // Primary color
$color2:#7247b1; // Secondary color
$color3:#ffce03; // Thirty color
$color0:#fff;    // Title color

/* Dimensions */
$container-width: 800px;
$header-height: 123px;
$footer-height: 40px;
$menu-height: 33px;


/* ==========================================================================
   LAYOUT
   ========================================================================== */
   
.layout{ 
    position: relative;
    background-color: $colorw;
    overflow: hidden;
}

.content{
    position: relative;
    max-width: $container-width;
    margin: 0 auto 50px auto;
    padding: 0 2em;
}

h1, h2, h3, li, p, input[type="text"], textarea{ @extend .font-regular; }


/* ==========================================================================
   HEADER
   ========================================================================== */

.menu-header{
    li.active a{
        color: #000;
    }
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

/* ==========================================================================
   FORM (reset)
   ========================================================================== */

input[type="text"], input[type="password"], input[type="submit"], textarea{
    outline: none;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-focus-ring-color: none;
    @include border-radius(0);
    &:focus{ outline: none; }
}


/* ==========================================================================
   ALERT DEFAULT (from twitter bootstrap)
   ========================================================================== */

.alert{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-error{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success{
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    @include opacity(0.5)
}
.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    @include opacity(0.2);
    filter: alpha(opacity=20);
}
