/* ==========================================================================
   LAYOUT
   ========================================================================== */

*{ @include box-sizing(border-box); }

html, body{
    height: 100%;
    min-width: 320px;
}

body{
    color: $colorb;
    font-size: 16px;
    @extend .font-regular;
}
 
.layout{ 
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
    background-color: $colorw;
}


/* ==========================================================================
   INLINE COMPONENTS
   ========================================================================== */

a{
    color: $color2;
    &:hover{ text-decoration: underline; }
}

h1, h2, h3, h4, h5, h6{
    text-rendering: optimizeLegibility;
    color: $color2;
}

h1{
    @extend .font-large;
    font-size: 50px;
    line-height: 1em;
}

h2{
    @extend .font-bold;
    font-size: 30px;
}


/* ==========================================================================
   FORMS
   ========================================================================== */

input, textarea{
    /* reset */
    outline: none;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-focus-ring-color: none;
    @include border-radius(0);
    &:focus{ outline: none; }

    position: relative;
    width: 100%;
    border: 0;
    @include border-radius(3px);
}

input[type="text"], input[type="email"]{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: $colorw;
}

input[type="submit"]{
    height: 40px;
    background-color: #000;
    color: $color2;
    @extend %transition-bg;

    &:hover{ background-color: rgba(#000, 0.8); }
    &:active{ background-color: $colorw; }
}

textarea{
    height: 150px;
    padding: 20px 15px;
    background-color: $colorw;
}


/* ==========================================================================
   TABLES
   ========================================================================== */

table{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    
    thead{
        background-color: $color1;
        @extend .font-bold;

        th{ 
            font-weight: normal; 
            border-top: 0;
        }
    }

    tbody{
        background-color: #e6d789;
    }
    
    th, td{
        padding: 25px 13px;
        vertical-align: middle;
        border-top: 1px solid darken($color1, 10%);
        border-left: 1px solid darken($color1, 10%);

        @include respond-to(minimobile) { padding: 10px 5px; }

        &:first-child{ border-left: 0; }
    }
}


/* ==========================================================================
   GENERAL COMPONENTS
   ========================================================================== */

// logos

.logo-aksvb-y{
    position: relative;
    @include mysprite(aksvb-logo-y);
}

.logo-aksvb-b{
    position: relative;
    @include mysprite(aksvb-logo-b);
}

.aksvb-logo-min-r{
    position: relative;
    @include mysprite(aksvb-logo-min-r);
}


// headline (logo + title + subtitle)

a.headline, .headline{
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;

    .title{
        @extend .font-title;
        
        @include respond-to(minimobile) {
            margin-left: 54px;
            margin-top: 14px;
            font-size: 13.79px;
        }
        @include respond-to(mobile) {
            margin-left: 90px;
            margin-top: 25px;
            font-size: 22px;
        }
        @include respond-to(tablet-desktop) {
            margin-left: 90px;
            margin-top: 21px;
            font-size: 27.03px;
        }
    }

    .subtitle{
        @extend .font-subtitle;
        text-align: left;

        @include respond-to(minimobile) {
            margin: -3px 0 0 54px;
            font-size: 8.78px;
        }
        @include respond-to(mobile) {
            margin: -7px 0 0 90px;
            font-size: 14px;
        }
        @include respond-to(tablet-desktop) {
            margin: -7px 0 0 90px;
            font-size: 18.02;
        }
    }

    .logo-aksvb-y, .logo-aksvb-b{
        float: left;
        display: inline-block;

        @include respond-to(minimobile) { margin: 10px -54px 0 0; }
        @include respond-to(mobile-desktop) { margin: 10px -90px 0 0; }
    }

    @include respond-to(minimobile) {
        .logo-aksvb-y{ @include mysprite(aksvb-logo-min-y); }
        .logo-aksvb-b{ @include mysprite(aksvb-logo-min-b); }
    }
}


// Alert box

%alert{
    position: relative;
    width: 100%;
    padding: 14px 20px;
    margin: 0 0 20px 0;
    color: #fff;
    @include border-radius(3px);
}

.alert-success{
    @extend %alert;
    background-color: $color-success;
}

.alert-error{
    @extend %alert;
    background-color: $color-error;
}


/* ==========================================================================
   BROWSER HAPPY
   ========================================================================== */

.browsehappy{
    position: relative;
    display: block;
    padding: 15px 0;
    margin: 0;
    background-color: $color1;
    color: #000;
    text-align: center;
    @extend .font-bold;
}